@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%; }

.header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem;
  background-color: #2F2235;
  color: white;
  font-size: 2.4rem; }
  .header .page-title {
    padding-left: 20px;
    font-weight: 300; }
    .header .page-title .title-accent {
      color: #34D1D1; }
  .header .header-name {
    padding-right: 20px;
    font-size: 1.8rem;
    font-weight: 600; }

.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto; }
  .app-wrapper .accordion-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding: 1.25rem; }
    .app-wrapper .accordion-tabs .section-header {
      align-self: stretch;
      position: relative;
      border-bottom: 1px solid #D1D2D3; }
      .app-wrapper .accordion-tabs .section-header .section-title {
        position: relative;
        top: 10px;
        padding-right: 25px;
        background-color: white;
        color: #000;
        font-size: 1.2rem; }
    .app-wrapper .accordion-tabs .accordion-box {
      position: relative;
      top: 3.125rem;
      display: flex;
      width: 62.5rem;
      padding: 1.25rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        padding: 1.25rem;
        border: 1px solid white;
        border-bottom: 1px solid #D1D2D3;
        background-color: #F2F2F2;
        color: #666;
        font-size: 1.4rem;
        cursor: pointer; }
        .app-wrapper .accordion-tabs .accordion-box .tab-header .mobile-tab-indicator {
          display: none; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-2 {
        left: 16.25rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-3 {
        left: 31.25rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-4 {
        left: 46.25rem; }
      .app-wrapper .accordion-tabs .accordion-box .active-tab-header {
        border: 1px solid #D1D2D3;
        border-bottom: 1px solid white;
        background-color: white;
        font-weight: 600; }
      .app-wrapper .accordion-tabs .accordion-box .tab-content {
        display: none; }
      .app-wrapper .accordion-tabs .accordion-box .active-content {
        position: relative;
        top: 62px;
        display: flex;
        padding: 1.25rem;
        border: 1px solid #D1D2D3;
        border-top: none; }
        .app-wrapper .accordion-tabs .accordion-box .active-content .tab-image {
          flex: 1;
          min-width: 18.6875rem;
          height: 23.4375rem;
          border: 1px solid #D1D2D3;
          background-color: #F2F2F2; }
        .app-wrapper .accordion-tabs .accordion-box .active-content .tab-text {
          padding: 1.25rem;
          font-size: 1.2rem;
          line-height: 150%; }
          .app-wrapper .accordion-tabs .accordion-box .active-content .tab-text .tab-text-header {
            display: flex;
            margin: 1.25rem;
            padding-bottom: 10px;
            border-bottom: 1px solid #D1D2D3;
            font-size: 1.4rem;
            font-weight: 600; }
          .app-wrapper .accordion-tabs .accordion-box .active-content .tab-text .tab-text-body {
            margin: 0.625rem;
            padding: 0.625rem; }
  .app-wrapper .view-code-button {
    align-self: center;
    width: 250px;
    margin: 20px;
    padding: 10px;
    background-color: #2F2235;
    color: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer; }
    .app-wrapper .view-code-button:hover {
      background-color: #3f3244; }

@media screen and (max-width: 1039px) {
  .app-wrapper .accordion-tabs {
    padding: 0;
    margin-bottom: 90px; }
    .app-wrapper .accordion-tabs .section-header {
      margin: 0.625rem; }
    .app-wrapper .accordion-tabs .accordion-box {
      width: 47.5rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header {
        width: 11.25rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-2 {
        left: 12.5rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-3 {
        left: 23.75rem; }
      .app-wrapper .accordion-tabs .accordion-box .tab-header-4 {
        left: 35rem; }
      .app-wrapper .accordion-tabs .accordion-box .active-content .tab-text .tab-text-header {
        margin: 1.25rem; } }

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 1.8rem; }
    .header .page-title {
      margin: 1.25rem;
      padding-left: 0; }
    .header .header-name {
      margin: 0.625rem;
      padding: 0.625rem;
      border-top: 1px solid #3f3244;
      font-size: 1rem; }
  .app-wrapper .accordion-tabs {
    align-self: stretch;
    width: unset;
    margin-bottom: 35px;
    padding: 0; }
    .app-wrapper .accordion-tabs .section-header {
      align-self: center;
      display: flex;
      justify-content: center;
      padding: 1.25rem; }
      .app-wrapper .accordion-tabs .section-header .section-title {
        top: 0;
        padding-right: initial; }
    .app-wrapper .accordion-tabs .accordion-box {
      display: flex;
      flex-direction: column;
      width: 18.75rem;
      margin: 0.625rem;
      margin-bottom: 20px;
      padding: 0;
      border: 1px solid #D1D2D3; }
      .app-wrapper .accordion-tabs .accordion-box .content-box {
        display: flex;
        flex-direction: column; }
        .app-wrapper .accordion-tabs .accordion-box .content-box .tab-header {
          position: relative;
          top: 0;
          left: 0;
          justify-content: space-between;
          width: 18.625rem;
          border: 1px solid white; }
          .app-wrapper .accordion-tabs .accordion-box .content-box .tab-header .mobile-tab-indicator {
            display: block;
            font-size: 2rem;
            font-weight: 300; }
        .app-wrapper .accordion-tabs .accordion-box .content-box .tab-header-2 {
          left: 0; }
        .app-wrapper .accordion-tabs .accordion-box .content-box .tab-header-3 {
          left: 0; }
        .app-wrapper .accordion-tabs .accordion-box .content-box .tab-header-4 {
          left: 0; }
        .app-wrapper .accordion-tabs .accordion-box .content-box .active-content {
          top: 0;
          flex-direction: column;
          padding: 0;
          border: none; }
          .app-wrapper .accordion-tabs .accordion-box .content-box .active-content .tab-image {
            height: 150px;
            min-width: unset;
            border-left: none;
            border-right: none; }
          .app-wrapper .accordion-tabs .accordion-box .content-box .active-content .tab-text {
            flex-direction: column;
            padding: 0; } }
