@import './variables.scss';
@import './mixins.scss';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  font: {
    family: $main-font;
    size: 62.5%;
  }
}

.header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  @include padding(2.5);
  background-color: $dark-accent;
  color: white;
  font-size: 2.4rem;
  .page-title {
    padding-left: 20px;
    font-weight: 300;
    .title-accent {
      color: $bright-accent;
    }
  }
  .header-name {
    padding-right: 20px;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  .accordion-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include padding(2);
    .section-header {
      align-self: stretch;
      position: relative;
      border-bottom: 1px solid $neutral-midtone;
      .section-title {
        position: relative;
        top: 10px;
        padding-right: 25px;
        background-color: white;
        color: $black;
        font-size: 1.2rem;
      }
    }
    .accordion-box {
      position: relative;
      @include top(5);
      display: flex;
      @include width(100);
      @include padding(2);
      .tab-header {
        position: absolute;
        @include top(2);
        @include left(2);
        display: flex;
        justify-content: center;
        align-items: center;
        @include width(24);
        @include padding(2);
        border: 1px solid white;
        border-bottom: 1px solid $neutral-midtone;
        background-color: $neutral-highlight;
        font-size: 1.4rem;
      }
      .tab-header-2 {
        @include left(26);
      }
      .tab-header-3 {
        @include left(50);
      }
      .tab-header-4 {
        @include left(74);
      }
      .active-tab-header {
        border: 1px solid $neutral-midtone;
        border-bottom: 1px solid white;
        background-color: white;
        font-weight: 600;
      }
      .tab-content {
        display: none;
      }
      .active-content {
        position: relative;
        top: 62px;
        display: flex;
        @include padding(2);
        border: 1px solid $neutral-midtone;
        border-top: none;
        .tab-image {
          flex: 1;
          @include minWidth(30);
          @include height(37.5);
          border: 1px solid $neutral-midtone;
          background-color: $neutral-highlight;
        }
        .tab-text {
          @include padding(2);
          font-size: 1.2rem;
          line-height: 150%;
          .tab-text-header {
            @include margin(2);
            padding-bottom: 10px;
            border-bottom: 1px solid $neutral-midtone;
            font-size: 1.4rem;
            font-weight: 600;
          }
          .tab-text-body {
            @include margin(1);
            @include padding(1);
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1634px) {
//   .app-wrapper .accordion-tabs {
//     @include width(128);
//   }
// }

// @media screen and (max-width: 1334px) {
//   .app-wrapper .accordion-tabs {
//     @include width(96);
//   }
// }

// @media screen and (max-width: 1014px) {
//   .app-wrapper .accordion-tabs {
//     @include width(64);
//   }
// }

// @media screen and (max-width: 694px) {
//   .app-wrapper .accordion-tabs {
//     @include width(32);
//   }
// }
