@import './variables.scss';
@import './mixins.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font: {
    family: $main-font;
    size: 62.5%;
  }
  box-sizing: border-box;
}

.header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  @include padding(2.5);
  background-color: $dark-accent;
  color: $neutral-highlight;
  font-size: 2.2rem;
  .page-title {
    padding-left: 20px;
    font-weight: 300;
    .title-accent {
      color: $bright-accent;
    }
  }
  .header-name {
    padding-right: 20px;
    font-weight: 600;
  }
}