@import './variables.scss';
@import './mixins.scss';

body {
  display: flex;
  flex-direction: column;
}

.header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  background-color: $dark-accent;
  color: $neutral-highlight;
}