@import './variables.scss';
@import './mixins.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font: {
    family: $main-font;
    size: 62.5%;
  }
  box-sizing: border-box;
}

.header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  background-color: $dark-accent;
  color: $neutral-highlight;
}